hashes.db
resources/full.csv
resources/full_sha256.txt


x64/
obj/
ScanNow/bin/
ScanNowDebug/bin/

.vs/

*.ipch
*.VC.db
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln


ScanNow/
ScanNowDebug/



!SNKernelDriver/**

SNKernelDriver/x64/
